* {
  font-family: "Garamond";
}

h1, h2 {
  font-family: "Garamond";
}

h2 > a {
  color: black;
  text-decoration: none;
}

button {
  transition: background-color .4s ease;
  border: 0;
  font-size: 14pt;
}

button:hover {
  transition: background-color .4s ease;
  background-color: #d5d5d5;
}

img {
  transition: opacity .5s ease;
  opacity: 0.6;
}

img:hover {
  transition: opacity .5s ease;
  opacity: 1;
}

a:hover {
  transition: color .5s ease;
  color: #5c879c;
}

p {
  font-size: 14pt;
}

a {
  color: #397999;
  font-size: 14pt;
}

/* website heading information */

#page-title {
  margin: auto;
  padding-top: 2%;
  text-align: center;
}

#contact {
  width: 70%;
  margin: auto;
  margin-bottom: 1%;
}

#contact > p {
  text-align: center;
  margin: auto;
}

#nav-buttons {
  margin: auto;
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
}

#nav-bar {
  padding: 0px;
  background-color: #F0F0F0;
  height: 5%;
}

/*modifies overall tab elements*/
.folder {
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
  width: 90%;
  margin: auto;
}

.folder-title {
  padding-bottom: 1%;
}

.ftitle-text {
  text-align: center;
  font-size: 26px;
  color: #666666;
  text-transform: uppercase;
}

/*About tab styling*/
#about {
  width: 75%;
  margin:auto;
}

.about-sections > div {
  width: 25%;
  margin-right: 4%;
}

.about-sections > div > img {
  width: 100%;
  opacity: 1;
}

.about-sections {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/*Project tab styling*/
#project-sections {
  display: flex;
  flex-direction: column;
}

.project-unit {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5%;
}

.link-img {
  margin-right: 3%;
  width: 300px;
}
/* All project imgs should have 943x785 ratio */
.project-img {
  width: 100%;
}

.project-info {
  width: 100%;
}

.project-info > h2 {
  font-size: 24px;
}

#portfolio-sections {
  margin: auto;
  padding: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sample-section {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-img {
  width: 350px;
}

.portfolio-label {
  font-size: 20px;
  padding-top: 3%;
  margin: auto;
  align-items: center;
}
